#
# Sphinx configuration sample for GeoData. Replace <placeholders> with actual values
#

source geodata
{
	type			    = xmlpipe2
	xmlpipe_command     = php <$IP>/extensions/GeoData/xmlpipe.php --feed
	xmlpipe_attr_float  = lat
	xmlpipe_attr_float  = lon
}

index geodata
{
	source             = geodata
	path               = <data directory>/geodata
	docinfo            = extern
	charset_type	   = utf-8
	mlock              = 0
	morphology         = none
	min_word_len       = 1
	charset_table      = 0..9, A..Z->a..z, -, _, a..z
	ignore_chars       = U+00AD
	html_strip         = 0
	enable_star        = 0
}

index geodata_delta : geodata
{
	source             = geodata_delta
	path               = <data directory>/geodata_delta
}

indexer
{
	mem_limit          = 32M
}

searchd
{
	listen             = 9312
	listen             = 9306:mysql41
	log                = <log directory>/searchd.log
	query_log          = <log directory>/query.log
	read_timeout       = 5
	max_children       = 30
	pid_file           = <log directory>/searchd.pid
	max_matches        = 1000
	seamless_rotate    = 1
	preopen_indexes    = 1
	unlink_old         = 1
	workers            = threads # for RT to work
	binlog_path        = <data directory>
}
